# Lazygit configuration

gui:
  # Shows the git graph in a more modern, compact way
  showIcons: true
  commitLength:
    show: true
  # Displays the time since the commit (e.g., "2 hours ago")
  timeFormat: "2006-01-02 15:04"
  # Use Nerd Fonts for folder/file icons (since you have Fira Code Nerd Font)
  nerdFontsVersion: "3"
  theme: # Catppuccin Macchiato (Blue accent: https://github.com/catppuccin/lazygit/blob/c24895902ec2a3cb62b4557f6ecd8e0afeed95d5/themes/macchiato/blue.yml)
    activeBorderColor:
      - "#8aadf4"
      - bold
    inactiveBorderColor:
      - "#a5adcb"
    optionsTextColor:
      - "#8aadf4"
    selectedLineBgColor:
      - "#363a4f"
    cherryPickedCommitBgColor:
      - "#494d64"
    cherryPickedCommitFgColor:
      - "#8aadf4"
    unstagedChangesColor:
      - "#ed8796"
    defaultFgColor:
      - "#cad3f5"
    searchingActiveBorderColor:
      - "#eed49f"
  authorColors:
    "Your Name": "#b7bdf8" # Lavender
    "Colleague Name": "#eed49f" # Yellow
git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --line-numbers --hyperlinks
os:
  editPreset: nvim
